{{ define "main" }}
  <header>
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  {{ with .Content }}
    <section class="prose mt-6 dark:prose-invert">{{ . | emojify }}</section>
  {{ end }}
  {{ $books := where .Site.RegularPages "Section" "books" }}
  {{ if $books }}
    <section class="mt-10 max-w-prose">
      {{ range $books.ByDate.Reverse }}
        {{ $book := . }}
        {{ $hasNotes := ne (len (trim $book.Content "\n\t ")) 0 }}
        {{ $images := $book.Resources.ByType "image" }}
        {{ $cover := $images.GetMatch ($book.Params.cover | default "*cover*") }}
        {{ $ctx := dict "book" $book "cover" $cover "hasNotes" $hasNotes }}
        {{ if $hasNotes }}
          <a href="{{ $book.Permalink }}" class="group mb-8 flex flex-row last:mb-0">
            {{ partial "book-card-content.html" $ctx }}
          </a>
        {{ else }}
          <div class="group mb-8 flex flex-row last:mb-0">
            {{ partial "book-card-content.html" $ctx }}
          </div>
        {{ end }}
      {{ end }}
    </section>
  {{ else }}
    <section class="prose mt-10 dark:prose-invert">
      <p class="border-t py-8"><em>No books yet.</em></p>
    </section>
  {{ end }}
{{ end }}
