{{ define "main" }}
  {{ $images := .Resources.ByType "image" }}
  {{ $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
  <article>
    <header class="flex max-w-prose flex-col sm:flex-row">
      {{ with $cover }}
        <div class="flex-none pb-4 sm:pe-6">
          <img
            class="w-36 rounded-md shadow sm:w-40"
            src="{{ (.Fill "240x360 smart").Permalink }}"
            srcset="{{ (.Fill "240x360 smart").Permalink }} 1x, {{ (.Fill "480x720 smart").Permalink }} 2x"
            width="240"
            height="360"
            alt="Cover of {{ $.Title }}"
          />
        </div>
      {{ end }}
      <div>
        <h1 class="mb-2 mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
          {{ .Title | emojify }}
        </h1>
        {{ with .Params.bookAuthor }}
          <p class="text-lg text-neutral-500 dark:text-neutral-400">{{ . }}</p>
        {{ end }}
        <p class="text-sm text-neutral-400 dark:text-neutral-500">
          {{ partial "functions/date.html" .Date }}
        </p>
      </div>
    </header>
    <section class="prose mt-10 max-w-prose dark:prose-invert">{{ .Content | emojify }}</section>
    <footer class="max-w-prose pt-8 print:hidden">
      {{ partial "article-pagination.html" . }}
    </footer>
  </article>
{{ end }}
